# For AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_REGION=
BUCKET_NAME=
MONGOURI=

# For gitlab 
GITLAB_REGISTRY=
GITLAB_USERNAME=
GITLAB_PASSWORD=

# For github
GITHUB_USERNAME=
GITHUB_PAT=

# For RabbitMQ
MQ_HOSTNAME=
MQ_PORT=